@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?s4b9e2');
    src: url('../fonts/icomoon.eot?s4b9e2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?s4b9e2') format('truetype'), url('../fonts/icomoon.woff?s4b9e2') format('woff'), url('../fonts/icomoon.svg?s4b9e2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-flexponto:before {
    content: "\e900";
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

body {
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.logo {
    width: 350px;
}

.logo:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-top: 35vh solid #359b82;
    border-right: 350px solid transparent;
}

.logo span {
    color: white;
    position: relative;
    font-size: 46px;
    padding: 20px 0 0 25px;
    display: flex;
}

.title-page {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #359b82;
    text-underline-position: under;
}

.title-page h1 {
    font-size: 28px;
    color: #359b82;
    font-weight: 600;
}

.container {
    padding: 0 15px;
}

section {
    display: flex;
    position: relative;
    flex: 1;
    z-index: 9;
}

.clock {
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
}

.date {
    display: flex;
    align-items: center;
    position: relative;
    top: 45px;
    right: 295px;
}

.date i {
    color: #383d4f;
    font-size: 28px;
    margin-right: 10px;
}

.date .day {
    color: #383d4f;
    font-size: 36px;
}

.date .month {
    font-size: 30px;
    color: #383d4f;
    text-transform: uppercase;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer .number {
    height: 210px;
    font-size: 190px;
    color: #383d4f;
    font-weight: 600;
    text-shadow: -4px 3px 1px #383d4f7d;
    border-bottom: 2px solid;
}

.timer .divider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
}

.timer .divider i {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #383d4f;
    position: relative;
    top: -15px;
    margin: 10px 25px;
}

.timer .divider i::after {
    content: '';
    position: absolute;
    left: -15px;
    top: 15px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #383d4f;
}

.right-side {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: flex;
    justify-content: space-around;
    width: 290px;
    height: 440px;
    flex-direction: column;
}

.keyboard .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.keyboard button {
    width: 73px;
    height: 73px;
    background-color: #383d4f;
    color: white;
    text-align: center;
    border-radius: 36.5px;
    box-shadow: -4px 3px 1px #383d4f7d;
    font-size: 44px;
    border: 0;
    transition: all 0.3s;
    cursor: pointer;
    outline-width: 0!important;
    outline: 0!important;
    outline-color: transparent!important;
}

.keyboard button:hover {
    box-shadow: 0 3px 1px #383d4f7d;
    background-color: #2e333f;
}

.keyboard button.confirm {
    background-color: #359b82;
}

.keyboard button.confirm:hover {
    background-color: #2c7c67;
}

.keyboard button.clear {
    height: 35px;
    border-radius: 0;
    font-size: 13px;
    border-radius: 5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600
}

.keyboard .display {
    font-size: 22px;
    color: #383d4f;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
}

.back {
    width: 350px;
}

.back:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-bottom: 35vh solid #359b82;
    border-right: 350px solid transparent;
    bottom: 0;
}
.normal-button {
    text-transform: uppercase;
}
.confirm-button {
    background-color: #359b82;
    text-transform: uppercase;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
    header {
        background-color: #359b82;
        padding-bottom: 15px;
    }
    .logo:before {
        display: none;
    }
    .title-page h1 {
        color: white;
        text-align: right;
        padding-right: 25px;
        text-decoration-color: white;
        text-decoration: underline;
    }
    section {
        flex-direction: column;
        padding-top: 50px;
    }
    .clock {
        align-items: center;
    }
    .date {
        right: auto;
    }
    .keyboard {
        margin-top: 140px;
    }
    footer .back::before {
        display: none;
    }
    .timer .number {
        height: auto;
        font-size: 155px;
    }
}